# WEB SCRAPING ASSIGNMENT-2 -----> SELENIUM

In [1]:
# lets import alll reqired libraries
import selenium                  #library to work with selenium
import pandas as pd              # library to make dataframe
from selenium import webdriver   # import webdriver module fromv selelnium to open up automated chrome window
import warnings
warnings.filterwarnings('ignore') # to ignore any sort of warnings
import time                      # to stop search engine for few seconds

======================================================================================================================

Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
# lets first connect to the webdriver    
driver1 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [3]:
# opening up naukri.com website on automated chrome window
driver1.get('https://www.naukri.com/')

In [4]:
# finding elements for job search bar
search_field_designation1=driver1.find_element_by_class_name("suggestor-input ")
search_field_designation1.send_keys('Data analyst')

In [5]:
#entering location in location bar
search_field_loc1=driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_loc1.send_keys('Bangalore')

In [6]:
#clicking search button
search_button1=driver1.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button1.click()

In [7]:
#First, we will scrape all the tags where we have job titles
title_tags1=driver1.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles1=[]  # creating empty list
for i in title_tags1: # iterating over each web element of tittle
    job_titles1.append(i.text) #adding values to the list
Job_title1=job_titles1[0:10]

In [8]:
#firts we will scrape all the tags where we have company names
company_tags1=driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names1=[]  # creating empty list
for c in company_tags1:  # iterating over each web element of company name
    company_names1.append(c.text) #adding data to the list
company_name1=company_names1[0:10]

In [9]:
# scraping job location tags
location_tags1=driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_list1=[]  # creating empty  list
for l in location_tags1:    ## iterating over each web element of location
    location_list1.append(l.text)  # adding data to the list
location1=location_list1[0:10]

In [10]:
#scraping experience tags
experience_tags1=driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience_list1=[]   # creating empty list
for e in experience_tags1:  # iterating over each web element of experience
    experience_list1.append(e.text)  #adding data to the list
experience1=experience_list1[0:10]

In [11]:
# checking lenth of each list
len(Job_title1), len(company_name1),len(location1), len(experience1)

(10, 10, 10, 10)

In [12]:
driver1.close()  # closing the driver

In [13]:
# creating data frame
data1={'Job_title':Job_title1,'Job_location':location1,'company_name':company_name1,'experience_required':experience1}
Data_analyst_jobs=pd.DataFrame(data1)

# dataframe
Data_analyst_jobs

,Job_title,Job_location,company_name,experience_required
0,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
1,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
2,data analyst/ data analytics / Business analys...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",Leading US MNC into Analytics,2-7 Yrs
3,Business analyst + data Analysis,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,upGrad,1-3 Yrs
5,Associate Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-6 Yrs
6,Data Analyst - Alteryx,Bangalore/Bengaluru,Capco,4-7 Yrs
7,Senior Business Analyst - Data Sciences and Ad...,Bangalore/Bengaluru,Vmware,3-7 Yrs
8,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
9,Data Analyst 2,Bangalore/Bengaluru,PayPal,1-3 Yrs

======================================================================================================================

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [14]:
# lets first connect to the webdriver    
driver2 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [15]:
# opening up naukri.com website on automated chrome window
driver2.get('https://www.naukri.com/')

In [16]:
# finding elements for job search bar
search_field_designation2=driver2.find_element_by_class_name("suggestor-input ")
search_field_designation2.send_keys('Data scientist')

In [17]:
#entering location in location bar
search_field_loc2=driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_loc2.send_keys('Bangalore')

In [18]:
#clicking search button
search_button2=driver2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button2.click()

In [19]:
#First, we will scrape all the tags where we have job titles
title_tags2=driver2.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles2=[]  # creating empty list
for i in title_tags2:   # iterating over each web element of title
    job_titles2.append(i.text) #adding values to the list
Job_title2=job_titles2[0:10]

In [20]:
# scraping job location tags
location_tags2=driver2.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_list2=[]  # creating empty  list
for l in location_tags2:  # iterating over each web element of location
    location_list2.append(l.text)  # adding data to the list
location2=location_list2[0:10]

In [21]:
#firts we will scrape all the tags where we have company names
company_tags2=driver2.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names2=[]  # creating empty list
for c in company_tags2:   # iterating over each web element of company name
    company_names2.append(c.text) #adding data to the list
company_name2=company_names2[0:10]

In [22]:
#checking lenght of each list
len(Job_title2), len(location2) ,len(company_name2)

(10, 10, 10)

In [23]:
driver2.close()  # closing the driver

In [24]:
# creating data frame
data2={'Job_name':Job_title2,'Job_location':location2,'Company_name':company_name2}
Data_scientist_jobs=pd.DataFrame(data2)

# dataframe
Data_scientist_jobs

,Job_name,Job_location,Company_name
0,Applied Data Scientist / ML Senior Engineer (P...,Bangalore/Bengaluru,SAP India Pvt.Ltd
1,Sr. Analyst - Applied Data Scientist,Bangalore/Bengaluru,Tesco
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
3,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
4,Analyst - Applied Data Scientist,Bangalore/Bengaluru,Tesco
5,Research Data Scientist,Bangalore/Bengaluru,Mavenir
6,Lead Applied Data Scientist,Bangalore/Bengaluru,Tesco Bengaluru
7,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart
8,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart
9,Data Scientist / Analyst,Bangalore/Bengaluru,Deutsche Bank

=======================================================================================================================

Q3: write apython program to scrape data from the given link

In [128]:
# lets first connect to the webdriver    
driver3 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [129]:
# opening up naukri.com website on automated chrome window
driver3.get('https://www.naukri.com/')

In [130]:
# finding elements for job search bar
search_field_designation3=driver3.find_element_by_class_name("suggestor-input ")
search_field_designation3.send_keys('Data scientist')

In [131]:
#clicking search button
search_button3=driver3.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button3.click()

In [132]:
#entering location in location bar
filter_loc3=driver3.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")
filter_loc3.click()

In [133]:
# filtering salary range
filter_salary3=driver3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
filter_salary3.click()

In [134]:
# scraping all the elements which has title tags
title_tags3=driver3.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title3=[]    # creating empty list to store the titles
for i in title_tags3:   # iterating over each web element of title
    job_title3.append(i.text)  # adding data to the list
job_titles3=job_title3[0:10]

In [135]:
location_tags3=driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
location_list3=[]
for l in location_tags3:   # iterating over each web element of location
    location_list3.append(l.text)   # adding data to the list
location3=location_list3[0:10]

In [136]:
#firts we will scrape all the tags where we have company names
company_tags3=driver3.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names3=[]  # creating empty list
for c in company_tags3:   # iterating over each web element of company name
    company_names3.append(c.text) #adding data to the list
company_name3=company_names3[0:10]

In [137]:
#scraping experience tags
experience_tags3=driver3.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience_list3=[]   # creating empty list
for e in experience_tags3:   # iterating over each web element of experience
    experience_list3.append(e.text)  #adding data to the list
experience3=experience_list3[0:10]

In [138]:
# checking lenth of each list
len(job_titles3), len(company_name3),len(location3), len(experience3)

(10, 10, 10, 10)

In [139]:
driver3.close()  # closing the driver

In [140]:
# creating data frame
data3={'Job_name':job_titles3,'Job_location':location3,'Company_name':company_name3,'experience_required':experience3}
Data_scientist_df=pd.DataFrame(data3)

# dataframe
Data_scientist_df

,Job_name,Job_location,Company_name,experience_required
0,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
1,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
2,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
9,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs

=======================================================================================================================

Q4:Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [39]:
# lets first connect to the webdriver    
driver4 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [40]:
# opening up flipkart.com website on automated chrome window
driver4.get('https://www.flipkart.com/')

In [41]:
# skippping login
skip_login4=driver4.find_element_by_xpath('/html/body/div[2]/div/div/button')
skip_login4.click()

In [42]:
# finding elements for sunglasses
search_field_product4=driver4.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field_product4.send_keys('sunglasses')

In [43]:
# clicking search button
search_button4=driver4.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button4.click()

In [45]:
brand_list4=[]   # creating empty list to store brand name
product_description4=[]   # creating empty list to store product description
price_list4=[]   # creating empty list to store price

for i in range(0,3): # running for loop with range to run this loop for 3 times
    
    #scraping brand name
    brand_tags4=driver4.find_elements_by_xpath('//div[@class="_2WkVRV"]') # scraping all the tag names hwere we have brand names
    for b in brand_tags4:   # iterating over each web element of brand name
        brand_list4.append(b.text)  # adding data to the empty list we created
        
   #scraping product description     
    product_description_tags4=driver4.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for p in product_description_tags4:   # iterating over each web element of product description
        product_description4.append(p.text)  # adding data to the empty list we created
        
   #scraping price     
    price_tags4=driver4.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for pr in price_tags4:   # iterating over each web element of price
        price_list4.append(pr.text.replace('‚Çπ',''))  # adding data to the empty list we created
        
    #locating web element of next button
    next_button4=driver4.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button4.click()  # clicking next button 
    time.sleep(5)
    
brands4=brand_list4[0:100]
description4=product_description4[0:100]
price4=price_list4[0:100]

In [46]:
# checking length of each list
len(brands4), len(description4), len(price4)

(100, 100, 100)

In [47]:
driver4.close()   # closing the driver

In [48]:
# making dataframe
data4={'Brand':brands4,'Product_description':description4,'Price(‚Çπ)':price4}
sunglasses_df=pd.DataFrame(data4)

# dataframe
sunglasses_df

,Brand,Product_description,Price(‚Çπ)
0,PIRASO,UV Protection Over-sized Sunglasses (64),287
1,Ray-Ban,Others Aviator Sunglasses (63),"5,339"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),669
3,Elligator,UV Protection Wayfarer Sunglasses (53),174
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),589
...,...,...,...
95,ROYAL SON,Polarized Retro Square Sunglasses (61),649
96,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),749
97,ROYAL SON,UV Protection Retro Square Sunglasses (Free Size),449
98,United Colors of Benetton,"Mirrored, UV Protection Round Sunglasses (50)","1,159"
99,LOUIS KOUROS,UV Protection Aviator Sunglasses (60),"1,441"

=======================================================================================================================

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [49]:
# lets first connect to the webdriver    
driver5= webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [50]:
# opening up flipkart.com website on automated chrome window
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace')

In [51]:
# clicking on view all reviews
view_all5=driver5.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div')
view_all5.click()

In [52]:
rating_list5=[]   # creating empty list to store ratings
review_list5=[]   # creating empty list to store review summary
full_review_list5=[]   # creating empty list to store full review

for i in range(0,11):  # running for loop with range to run this loop for 11 times
    
    #scraping rating 
    rating_tags5=driver5.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]') # scraping all the tag names where we have ratings
    for r in rating_tags5:
        rating_list5.append(r.text)  # adding data to the empty list we created
    
    #scraping review summary 
    review_tags5=driver5.find_elements_by_xpath('//p[@class="_2-N8zT"]') # scraping all the tag names where we have review summary
    for r in review_tags5:
        review_list5.append(r.text)  # adding data to the empty list we created
        
    #scraping full review
    full_review_tags5=driver5.find_elements_by_xpath('//div[@class="t-ZTKy"]') # scraping all the tag names where we have full review
    for r in full_review_tags5:
        full_review_list5.append(r.text.replace('\n',' ').strip())  # adding data to the empty list we created
    
    #locating web element of next button
    next_button5=driver5.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button5.click()  # clicking next button 
    time.sleep(5)
    
rating5=rating_list5[0:100]
review5=review_list5[0:100]
full_review5=full_review_list5[0:100]

In [53]:
#checking length of each list
len(rating5), len(review5), len(full_review5)

(100, 100, 100)

In [54]:
driver5.close() # closing the driver

In [55]:
# making data frame
data5={'Rating':rating5,'Review_summary':review5,'Full_review':full_review5}
reviews_df=pd.DataFrame(data5)

#dataframe
reviews_df

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific purchase,Amazing Phone üòçüòçüòç
96,5,Awesome,Everything is accept the charging Speed is fan...
97,5,Super!,Super ncy I love it‚ù§Ô∏è
98,5,Super!,"Using my first apple product. ~Camera is good,..."
99,5,Just wow!,Loved it!!

=======================================================================================================================

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com

In [56]:
# lets first connect to the webdriver    
driver6 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [57]:
# opening up flipkart.com website on automated chrome window
driver6.get('https://www.flipkart.com/')

In [58]:
# skippping login
skip_login6=driver6.find_element_by_xpath('/html/body/div[2]/div/div/button')
skip_login6.click()

In [59]:
# finding elements for sneakers
search_field_product6=driver6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_field_product6.send_keys('sneakers')

In [60]:
# clicking search button
search_button6=driver6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button6.click()

In [61]:
brand_list6=[]   # creating empty list to store brand name
product_description6=[]   # creating empty list to store product description
price_list6=[]   # creating empty list to store price

for i in range(0,4):  # running for loop with range to run this loop for 4 times
    
    #scraping brand name
    brand_tags6=driver6.find_elements_by_xpath('//div[@class="_2WkVRV"]') # scraping all the tag names hwere we have brand names
    for b in brand_tags6:
        brand_list6.append(b.text)  # adding data to the empty list we created
        
    #scraping product description   
    product_description_tags6=driver6.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for p in product_description_tags6:
        product_description6.append(p.text)  # adding data to the empty list we created
        
    #scraping price  
    price_tags6=driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for pr in price_tags6:
        price_list6.append(pr.text.replace('‚Çπ',''))  # adding data to the empty list we created
        
    #locating web element of next button
    next_button6=driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button6.click()  # clicking next button 
    time.sleep(5)
    
brands6=brand_list6[0:100]
description6=product_description6[0:100]
price6=price_list6[0:100]

In [62]:
len(brands6),len(description6),len(price6)

(100, 100, 100)

In [63]:
driver6.close() # closing the driver

In [64]:
# making data frame
data6={'Brand':brands6,'Product_description':description6,'Price(‚Çπ)':price6}
sneakers_df=pd.DataFrame(data6)

#dataframe
sneakers_df

       Brand                                Product_description Price(‚Çπ)
0      Bacan                                   Sneakers For Men      449
1   RapidBox      Modern Trendy Sneakers Shoes Sneakers For Men      630
2   URBANBOX  STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...      148
3     BRUTON  Stylish Comfortable Lightweight, Breathable Wa...      245
4     corsac                           Sneaker Sneakers For Men      449
..       ...                                                ...      ...
95   MOZAFIA                                   Sneakers For Men      849
96    Labbin               Rebound Future Cage Sneakers For Men      369
97      NIKE  Fashion and Stylish Soft Ultralight Lace Up Sn...    2,997
98    DUCATI                                   Sneakers For Men    1,569
99    FAUSTO                    SPORT COURT 92 Sneakers For Men    1,119

[100 rows x 3 columns]

=======================================================================================================================

Q7: write a python program to scrape data from the given link

In [65]:
# lets first connect to the webdriver    
driver7 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [66]:
# opening up myntra.com website on automated chrome window
driver7.get('https://www.myntra.com/shoes')

In [67]:
#filtering price
filter_price7=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price7.click()

In [68]:
#filtering black colour
filter_colour7=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_colour7.click()

In [69]:
#filtering price
filter_price7=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price7.click()

In [70]:
brand_list7=[]   # creating empty list to store brand name
product_description7=[]   # creating empty list to store product description
price_list7=[]   # creating empty list to store price

for i in range(0,2): # running for loop with range to run this loop 2 times 
    
    #scraping brand name
    brand_tags7=driver7.find_elements_by_xpath('//h3[@class="product-brand"]') # scraping all the tag names where we have brand names
    for b in brand_tags7:   # iterating over each web element of brand name
        brand_list7.append(b.text)  # adding data to the empty list we created
        
    #scraping product description   
    product_description_tags7=driver7.find_elements_by_xpath('//h4[@class="product-product"]')
    for p in product_description_tags7:   # iterating over each web element of descriotion
        product_description7.append(p.text)  # adding data to the empty list we created
        
    #scraping price    
    price_tags7=driver7.find_elements_by_xpath('//div[@class="product-price"]')
    for pr in price_tags7: # iterating over each web element of price
        price_list7.append(pr.text.replace('Rs.',''))  # adding data to the empty list we created
        
    #locating web element of next button   
    next_button7=driver7.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
    next_button7.click()  # clicking next button 
    time.sleep(5)

In [71]:
#checking the length of each list
len(brand_list7),len(product_description7),len(price_list7)

(100, 100, 100)

In [72]:
driver7.close() # closing the driver

In [73]:
# making data frame
data7={'Brand':brand_list7,'Short_shoe_description':product_description7,'Price(Rs)':price_list7}
shoe_df=pd.DataFrame(data7)

#dataframe
shoe_df

,Brand,Short_shoe_description,Price(Rs)
0,Skechers,Men Max Cushioning Running,7199 8999(20% OFF)
1,Nike,Men React Miler2 Running Shoes,11495
2,ALDO,Men Sneakers,9999
3,Nike,Women React MR 3 Running Shoes,8920 10495(15% OFF)
4,Nike,Men AIR MAX EXCEE Sneakers,7995
...,...,...,...
95,DAVINCHI,Men Textured Formal Leather Loafers,8990
96,Heel & Buckle London,Men Formal Leather Derby,7990
97,J.FONTINI,Men Leather Formal Loafers,7490
98,ALDO,Block Pumps with Bows,8999
99,Cole Haan,Women Leather Loafers,11899 16999(30% OFF)

========================================================================================================================

Q8:scrape the data from given link

In [150]:
# lets first connect to the webdriver    
driver8 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [151]:
# opening up amazon.com website on automated chrome window
driver8.get('https://www.amazon.in/')

In [152]:
#entering laptops in search box
field_search8=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
field_search8.send_keys('Laptop')

In [153]:
#clicking search button
search_button8=driver8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button8.click()

In [154]:
#applying cpu type filter
filter_cpu_type8=driver8.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span[1]')
filter_cpu_type8.click()

In [155]:
#scrapping title,ratings and price of laptops

laptop_title8=[]   # creating empty list to store title
title_tags8=driver8.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags8:  # iterating over each web element of title
    laptop_title8.append(i.text.strip())
laptop_name8=laptop_title8[0:10]

product_ratings=[]
# find ratings box
ratings_box = driver8.find_elements_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]/div/span')
# find ratings
for i in ratings_box:
    ratings = ratings_box[0].get_attribute('aria-label')
    product_ratings.append(ratings)
ratings8=product_ratings[0:10]

price8=[] # creating the empty list to store priice
price_tags8=driver8.find_elements_by_xpath('//span[@class="a-price-whole"]')
for p in price_tags8:   # iterating over each web element of price
    price8.append(p.text.replace('‚Çπ','').strip())
laptop_price8=price8[0:10]

In [156]:
# checking the length of each list
len(laptop_name8), len(ratings8), len(laptop_price8)

(10, 10, 10)

In [157]:
driver8.close() # closing the driver

In [158]:
# creating data frame
data8={'Title':laptop_name8,'Ratings':ratings8,'Price(‚Çπ)':laptop_price8}
laptops_df=pd.DataFrame(data8)

# dataframe
laptops_df

,Title,Ratings,Price(‚Çπ)
0,Acer Predator Helios 300 11th Gen Intel Core i...,5.0 out of 5 stars,"1,69,990"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,5.0 out of 5 stars,"58,999"
2,Mi Notebook Ultra 3.2K Resolution Display Inte...,5.0 out of 5 stars,"77,999"
3,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,5.0 out of 5 stars,"86,900"
4,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",5.0 out of 5 stars,"57,490"
5,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",5.0 out of 5 stars,"86,990"
6,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,5.0 out of 5 stars,"79,990"
7,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",5.0 out of 5 stars,"89,990"
8,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,5.0 out of 5 stars,"85,890"
9,LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...,5.0 out of 5 stars,"85,999"

========================================================================================================================

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location from https://www.ambitionbox.com/. 
        You have to scrape company name, 
        No. of days ago when job was posted, 
        Rating of the company

In [85]:
# lets first connect to the webdriver    
driver9 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [86]:
# opening up ambitionbox.com website on automated chrome window
driver9.get('https://www.ambitionbox.com/')

In [87]:
# clicking on jobs
click_jobs9=driver9.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
click_jobs9.click()

In [88]:
# finding elements for job search
search_designation9=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_designation9.send_keys('Data Scientist')

In [89]:
#clicking search button
click_search_button9=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
click_search_button9.click()

In [90]:
#clicking on location button
click_location_button9=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
click_location_button9.click()

In [91]:
# search location
search_location9=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location9.send_keys('Noida')

In [92]:
# select location Noida
select_noida9=driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input')
select_noida9.click()

In [93]:
#scraping company name
company_name9=[]  # creating empty list to store company name
#scraping all the tags where we have company name
company_name_tags9=driver9.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_name_tags9:  # iterating over each web element of company name
    company_name9.append(i.text)  # adding data to the empty list

#scraping no. of days job was posted
days_ago9=[]  # creating empty list to store data
# scraping all the tags where we have tags of job posted days ago
days_ago_tags9=driver9.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in days_ago_tags9:   # iterating over each web element of job posted days ago
    days_ago9.append(i.text)
days9=days_ago9[0::2]

#scraping ratings of the company
ratings9=[]  # creating empty list to store ratings of the company
# scraping all the tags where we have ratings
ratings_tags9=driver9.find_elements_by_xpath('//span[@class="body-small"]')
for i in ratings_tags9:   # iterating over each web element of ratings
    ratings9.append(i.text) # adding values top the empty list

In [94]:
#checking the length of each list
len(company_name9), len(days9), len(ratings9)

(10, 10, 10)

In [95]:
driver9.close() # closing the driver

In [96]:
#making dataframe
data9={'Company_name':company_name9,'Days_ago_job_posted':days9,'Ratings':ratings9}

Datascientist_jobs_df=pd.DataFrame(data9)

#dataframe
Datascientist_jobs_df

,Company_name,Days_ago_job_posted,Ratings
0,Ericsson India Global Services Pvt. Ltd.,18hr ago,4.3
1,EXL Services.com ( I ) Pvt. Ltd.,11d ago,3.9
2,GENPACT India Private Limited,23d ago,4.0
3,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,9d ago,3.9
4,GENPACT India Private Limited,1mon ago,4.0
5,Bristlecone India Limited,18d ago,3.8
6,Zyoin,22d ago,4.1
7,Ashkom Media India Private Limited,9d ago,3.7
8,Newgen Software Technologies Ltd.,24d ago,3.6
9,Pitney Bowes India Pvt Ltd,1mon ago,4.2

========================================================================================================================

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [118]:
# lets first connect to the webdriver    
driver10 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [119]:
# opening up ambitionbox.com website on automated chrome window
driver10.get('https://www.ambitionbox.com/')

In [120]:
# clicking on salaries
click_salaries10=driver10.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
click_salaries10.click()

In [121]:
# finding elements for salaries search
search_job_profile10=driver10.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job_profile10.send_keys('Data Scientist')

In [124]:
#scraping company name
company_name10=[]  # creating empty list to store company name
#scraping all the tags where we have company name
company_name_tags10=driver10.find_elements_by_xpath('//div[@class="company-info"]/div/a')
for i in company_name_tags10:   # iterating over each web element of company name
    company_name10.append(i.text)  # adding data to the empty list
    
#scraping total salay record
number_of_salaries10=[]
#lets scrape all the tags where we have salaries tags
salaries_tags10=driver10.find_elements_by_xpath('//div[@class="company-info"]/div/span')
for i in salaries_tags10:    # iterating over each web element of number of salaries
    number_of_salaries10.append(i.text)
salaries10=number_of_salaries10[0::2]

#scraping average salary
average_salary10=[]
#lets scrape all the tags where we have average salary
average_salary_tags10=driver10.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in average_salary_tags10:   # iterating over each web element of average salary
    average_salary10.append(i.text.replace('‚Çπ',''))

#scraping minimum salary
min_salary10=[]
#lets scarpe all the tags where we have minimum salary
min_salary_tags10=driver10.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in min_salary_tags10:    # iterating over each web element of minimum salary
    min_salary10.append(i.text.replace('‚Çπ',''))
minimum_salary10=min_salary10[0::2]

#scraping maximum salary
max_salary10=[]
#lets scarpe all the tags where we have maximum salary
max_salary_tags10=driver10.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in max_salary_tags10:    # iterating over each web element of maximum salary
    max_salary10.append(i.text.replace('‚Çπ',''))
maximum_salary10=max_salary10[1::2]

#scraping experience required
exp_required10=[]
#lets scrape all the tags where we have experience required
exp_required_tags10=driver10.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in exp_required_tags10:   # iterating over each web element of experience required
    exp_required10.append(i.text.replace('Data Scientist\n . \n','').replace('exp',''))

In [125]:
#checking length of each list
len(company_name10), len(salaries10), len(average_salary10), len(minimum_salary10), len(maximum_salary10), len(exp_required10)

(10, 10, 10, 10, 10, 10)

In [126]:
driver10.close() # closing the driver

In [127]:
#making dataframe
data10={'Company_name':company_name10,'Number_of_salaries':salaries10,'Average_salary(‚Çπ)':average_salary10,'Minimum_salary(‚Çπ)':minimum_salary10,'Maximum_salary(‚Çπ)':maximum_salary10,'Experience_required':exp_required10}
Salaries_df = pd.DataFrame(data10)

#dataframe
Salaries_df

,Company_name,Number_of_salaries,Average_salary(‚Çπ),Minimum_salary(‚Çπ),Maximum_salary(‚Çπ),Experience_required
0,Walmart,based on 11 salaries,29.7L,25.0L,35.0L,3 yrs
1,Ab Inbev,based on 32 salaries,20.5L,15.0L,25.5L,3-4 yrs
2,Reliance Jio,based on 10 salaries,18.9L,5.6L,26.2L,4 yrs
3,ZS,based on 15 salaries,16.7L,11.0L,22.0L,2 yrs
4,Optum,based on 30 salaries,15.9L,11.0L,22.6L,3-4 yrs
5,Fractal Analytics,based on 82 salaries,15.4L,9.7L,23.0L,2-4 yrs
6,Tiger Analytics,based on 47 salaries,14.8L,9.0L,20.0L,2-4 yrs
7,UnitedHealth,based on 55 salaries,13.9L,8.3L,20.5L,2-4 yrs
8,Verizon,based on 14 salaries,12.7L,10.0L,21.0L,4 yrs
9,Ganit Business Solutions,based on 13 salaries,12.4L,8.5L,15.0L,4 yrs